// 骨架屏容器
.loading-wrapper {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
// 页面容器
.index-wrapper {
  position: relative;
}

.top-menu {
  height: 40px;
  background-color:chartreuse;
}
.search {
  margin-top: 10px;
  height: 36px;
  background-color: aqua;
}
.carousel {
  margin-top: 20px;
  height: 240px;
  background-color: brown;
}
.hot-video {
  margin-top: 20px;
  height: 640px;
  background-color: coral;

}
.guess-favorite {
  margin-top: 20px;
  height: 160px;
  background-color: darkcyan;
}
.recommand {
  margin-top: 20px;
  height: 400px;
  background-color: darkmagenta;
}
